$base: #fff;
$contrast: #000;
$unit: 1rem;

.btn {
    padding: $unit;
    border: 2px solid $contrast;
    font-weight: 600;
    color: $contrast;

    &-primary {
        @extend .btn;
        background: $contrast;
		color: $base;
        margin-right: 1rem;
    }
    
    &-secondary {
        @extend .btn;
    }

	&-tertiary {
		@extend .btn;
		border-color: transparent;
        background: transparent;
	}
}