.btn-primary {
    padding: 1rem;
    border: 2px solid #000;
    background: #000;
    font-weight: 600;
    color: #000;
    margin-right: 1rem;
}

.btn-secondary {
    padding: 1rem;
    border: 2px solid #000;
    background: transparent;
    font-weight: 600;
    color: #000;
}

.btn-tertiary {
    padding: 1rem;
    border: 2px solid transparent;
    background: transparent;
    font-weight: 600;
    color: #000;
}