// global resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 100%;
}
body { 
    font-family: sans-serif;
}
a {
    display: inline-block;
    text-decoration: none;

    &:hover {
        opacity: .6;
    }
}

nav ul, nav ol {
    list-style: none;
}