//variables
$primary:#c4d32c;
$secondary: #6638f0;
$base: #f0ece4;
$contrast: #000000;

$unit: 1rem;

$columns: 1, 2, 3, 4;

// partials
@import 'mixins';
@import 'reset';
@import 'type';
@import 'grid';
@import 'layout';
@import 'images';


// code

pre {
	@include spacing(margin, 0 0 $unit * 2 !important);
	height: 100% !important;
}

// main index with links to demos
header {
    height: 100vh;
}

nav {

    height: 100%;

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        height: 100%;
        font-size: $unit * 3;
        font-weight: 600;
        display: block;
        background: $primary;
        color: $contrast;
        padding: 2rem;
    }
}
