.btn, .btn-tertiary, .btn-secondary, .btn-primary {
  padding: 1rem;
  border: 2px solid #000;
  font-weight: 600;
  color: #000;
}
.btn-primary {
  background: #000;
  color: #fff;
  margin-right: 1rem;
}
.btn-tertiary {
  border-color: transparent;
  background: transparent;
}